<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de conexões com o banco de dados, -->
		<!-- Conexão do Driver: padrão vem: org.hsqldb.jdbcDriver, Mas esse é a 
			conexão:com.mysql.jdbc.Driver -->
		<!-- Conexão url: Java usa o jdbc ou odbc, conexão vem assim jdbc:hsqldb:hsql://localhost, 
			ajustado a conexão: jdbc:mysql://127.0.0.1:3306/drogaria -->
		<!-- Conexão do Driver: -->
		<!-- Conexão do Driver: -->

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/drogaria</property>
		<property name="connection.username">root</property>
		<property name="connection.password">mgtrda9139293@</property>
		
		<!-- JDBC connection pool (use the built-in) Aqui é para informar quantas 
			sessões ele vai abrir -->
		<!-- -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect, idioma do banco (org.hibernate.dialect.HSQLDialect) -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do contexto das sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de segundo nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQL geradas -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<!-- Criar as tabelas do banco de dados -->
		<!--Create: Ele apaga tudo, até os dados e cria tabelas do zero -->
		<!--Update: Ele tanta manter os dados e atualizar as tabelas -->
		<!--Validate: Ele checa se o que esta no java é o que esta no banco -->

		<property name="hbm2ddl.auto">create</property>

		<!-- Mapeamentos das entidades --> 
		<!-- resource="org/hibernate/tutorial/domain/Event.hbm.xml" /> -->
		 <mapping class="br.com.luis.drogaria.domain.Cidade"/>
		 <mapping class="br.com.luis.drogaria.domain.Clientes"/>  
		 <mapping class="br.com.luis.drogaria.domain.Estado"/>
		 <mapping class="br.com.luis.drogaria.domain.Fabricante"/>
		 <mapping class="br.com.luis.drogaria.domain.Funcionario"/>
		 <mapping class="br.com.luis.drogaria.domain.ItemVenda"/>
		 <mapping class="br.com.luis.drogaria.domain.Pessoa"/>
		 <mapping class="br.com.luis.drogaria.domain.Produtos"/>
		 <mapping class="br.com.luis.drogaria.domain.Usuario"/>
		 <mapping class="br.com.luis.drogaria.domain.Venda"/>
		 
	</session-factory>

</hibernate-configuration>